<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap -->
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Fonts and Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/general-page.css">

	<title>I&C Webshop</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="realindex.hml">Webshop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categories
					</a>
					<div id="dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">

						<!-- <div class="dropdown-divider"></div> -->
						<!-- <a class="dropdown-item" href="#">Something else here</a> -->
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
			</form>
			<a href="account.html"><i class="material-icons" href="#">person</i></a>	
			<a href="shoppingcart.html"><i class="material-icons" href="#">shopping_cart</i></a>	
		</div>
	</nav>
	<h1>Categories</h1>
	<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../pictures/t-shirt01.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">t-shirts</h5>
					<p class="card-text">Description t-shirts</p>
					<hr>
					<a href="realproduct.html" class="btn btn-primary">Open</a>
				</div>
				<div class="card-footer">
					<!-- 					<small class="text-muted">Sale ends at: 23-05-2019</small>	-->
				</div>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="../pictures/t-shirt01.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Sweaters</h5>
				<p class="card-text">Description Sweaters</p>
				<hr>
				<a href="realproduct.html" class="btn btn-primary">Open</a>
			</div>
			<div class="card-footer">
				<!-- 					<small class="text-muted">Sale ends at: 23-05-2019</small>	-->
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../pictures/t-shirt01.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Hoodies</h5>
					<p class="card-text">Hoodies</p>
					<hr>
					<a href="realproduct.html" class="btn btn-primary">Open</a>
				</div>
				<div class="card-footer">
					<!-- 				<small class="text-muted">Sale ends at: 23-05-2019</small> -->
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../pictures/t-shirt01.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">socks</h5>
					<p class="card-text">Description socks</p>
					<hr>
					<a href="realproduct.html" class="btn btn-primary">Open</a>
				</div>
				<div class="card-footer">
					<!-- 					<small class="text-muted">Sale ends at: 23-05-2019</small>	-->
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../pictures/t-shirt01.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Pants</h5>
					<p class="card-text">Description pants</p>
					<hr>
					<a href="realproduct.html" class="btn btn-primary">Open</a>
				</div>
				<div class="card-footer">
					<!-- 					<small class="text-muted">Sale ends at: 23-05-2019</small>	-->
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <i class="material-icons">face</i> -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Own jQuery -->
<script src="../js/home-page.js"></script>
<script>addToDropdown();</script>
</body>

</html>